@import "tailwindcss";

@theme {
    --color-neutral-bg1: #FFFEFD;
    --color-neutral-bg2: #EDE8DA;
    --color-instrbg: #E0E0E0;
    --color-text: #2B281F;
    --color-text2: #6C6247;
    --color-text3: #9A8C66;
    --text-instr: 12pt;
}


* { scroll-behavior: smooth; }


.h1 {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 60pt;
}

.h3 {
  font-family: "Lexend Exa", sans-serif;
  font-size: 18pt;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 12pt;
}

.nav {
  font-family: "Lexend Exa", sans-serif;
  font-size: 12pt;
}

.exp {
  list-style-type: square;
  font-size: 10pt;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
}